<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519969625827-oj4s07s2itqb0a1q6jfdhdipieaes419.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519969625827-oj4s07s2itqb0a1q6jfdhdipieaes419</string>
	<key>API_KEY</key>
	<string>AIzaSyCmQPwQDW39IE6qTDrobcOl-Z_C-X4d4no</string>
	<key>GCM_SENDER_ID</key>
	<string>519969625827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testAppEdenFarm</string>
	<key>PROJECT_ID</key>
	<string>test-app-eden-farm</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-eden-farm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519969625827:ios:a048519b0ead99833a17d6</string>
</dict>
</plist>